// COLORS FROM MAKINO GUITARS STYLE GUIDE

$takColors: slate, green, cream, tan, orange;
$slate:         #313E37;
$green:         #56762C;
$cream:         #FFF8E7;
$tan:           #E0BB7F;
$orange:        #C56D27;

$indigo:        #344966;

.theme-bg-dark {
    background-color: $slate!important;
    color: $cream;
}

.theme-text-light {
    color: $cream!important;
}

.theme-text-dark {
  color: $slate!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Periodico", serif;
    color: $slate;
  }

hr {
    border: 2px solid $orange
}

.thin {
  border: 1px solid $tan!important;
}

.big-fn-image {
    width: 100%;
    height: 40vmax;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tall-cover {
  width: 100%;
  height: 125vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@each $color in $takColors {
  .shadow-#{$color} {
    width: 150px;
    -webkit-filter: drop-shadow(5px 5px 5px $color);
    filter: drop-shadow(5px 5px 5px $color);
  }
}



.theme-bg-cream {
    background-color: $cream!important;
}

.card {
    border-top: 12px solid $slate;
    border-radius: 0px!important;
    box-shadow: 2px 2px 5px $tan;
}

.page-link {
  text-decoration: underline;
  color: $green!important;
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: $green;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.card-text a {
  text-decoration: none!important;
  color: inherit!important;
}

.link-no-dec {
  text-decoration: none!important;
  color: inherit!important;
  font-weight: normal;
}

body {
  width: 100vw;
  font-family: 'Brandon Grotesque'!important;
  letter-spacing: .03rem;
  font-weight: 500;
}






.bodycover {
  background: url('logos/Pattern-cream-trans.png') no-repeat center center fixed;
  background-size: cover;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('logos/Pattern-cream-trans.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: .5;
}

/* FONTS */
@font-face {
  font-family: 'Ambroise';
  src: url('/fonts/Ambroise-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Periodico';
  src: url('fonts/Periodico-Display.woff2') format('woff2');
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon-Grotesque-Regular.woff2') format('woff2');
}




p {
    color: #0D1821!important;
    font-size: inherit;
  }
  
  .color-indigo {
    color: #344966!important;
  }
  
  
  .breadcrumb {
    background-color: transparent!important;
    padding-left: 0px!important;
  
  }
  
  .site-breadcrumbs {
    margin-top: 20px;
    border-radius: 0px!important;
    border-top: 2px solid $tan;
    margin-bottom: 35px;
  }

  .fs-sm {
    font-size: 1rem!important;
  }

  .fs-md {
    font-size: 1.25rem!important;
  }

  .fs-lg {
    font-size: 1.5rem!important;
  }
  
@media (min-width: 768px) {
  .border-md-0 {
    border: 0 !important;
  }

}

.nav-link:hover{
    border-bottom: 1px solid white;
    font-weight: bold;
}